# Core dependencies and packages
node_modules
yarn-error.log
.yarn/*
package-lock.json

# Temporary and cache files
.env
.cspellcache
phpstan-tmp
.eslintcache
.stylelint-cache
reports
phpcs.xml
phpunit.xml

# Composer dependencies
/vendor
/composer.phar

# Drupal-specific directories
/sites/default/files
/sites/default/private
/sites/default/*.sqlite
/sites/default/files/caches
/sites/default/files/php
/sites/default/settings.local.php

# Editor-specific and system files
.vscode/
.idea/
*.bak
*.swp
.DS_Store
Thumbs.db
